<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    </head>
    <body>
        <header> 
            <div class="mother">
                <div class="header-logo"> 
                    <img src="/img/logo-mercado-liebre.svg" alt="logo">
                    <div class="search">
                        <form action="/search" method="POST">     
                            <input class="search-bar" type="search" placeholder="Buscar productos, marcas"/><i class="fas fa-search"></i>
                        </form>
                    </div>
                </div>
                <aside>
                    <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito
                </aside>
            </div>
            <div class="menu">
                <ul type="none" class="site">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul type="none" class="user">
                    <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <div class="banner">
                <img src="/img/img-home-banner.jpg" alt="banner" />
        </div> 
        <main>
            <h3 class="title">Basado en tu ultima visita</h3>
            <section> 
                <article class="product">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="producto-descripcion">
                        <i class="fas fa-truck"></i>
                            <div class="bloque-precio">
                                <p class="precio">$6770</p>
                                <p class="discount">40% off</p>
                            </div>
                        <h4 class="product-title">Cafetera Moulinex</h4>
                    </div>    
                </article>
                <article class="product">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="producto-descripcion">    
                        <i class="fas fa-truck"></i>
                            <div class="bloque-precio">  
                                <p class="precio">$230.000</p> 
                                <p class="discount">20% off</p>
                            </div>    
                        <h4 class="product-title">MacBook Pro 2019</h4>
                    </div>    
                </article>
                <article class="product">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="celular">
                    <div class="producto-descripcion">
                        <i class="fas fa-truck"></i>
                            <div class="bloque-precio">
                                <p class="precio">$70.500</p>
                                <p class="discount">10% off</p>
                            </div>
                        <h4 class="product-title">Samsung Galaxy S10</h4>
                    </div>    
                </article>  
                <article class="product">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smartTv">
                    <div class="producto-descripcion">   
                        <i class="fas fa-truck"></i>
                            <div class="bloque-precio">    
                                <p class="precio">$23.200</p>
                                <p class="discount">5% off</p>
                            </div>    
                        <h4 class="product-title">SmartTv Samsung 43"</h4>
                    </div>    
                </article>  
            </section>
            <h3 class="title">Ofertas</h3>
            <section>
                <article class="product">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                        <div class="producto-descripcion">   
                            <i class="fas fa-truck"></i>
                                <div class="bloque-precio">
                                    <p class="precio">$6770</p>
                                    <p class="discount">40% off</p>
                                </div>    
                            <h4 class="product-title">Cafetera Moulinex</h4>
                        </div>    
                </article>
                <article class="product">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="producto-descripcion">   
                        <i class="fas fa-truck"></i>
                            <div class="bloque-precio">
                                <p class="precio">$230.000</p>
                                <p class="discount">20% off</p>
                            </div>    
                        <h4 class="product-title">MacBook Pro 2019</h4>
                    </div>    
                </article>
                <article class="product">
                    <img src='/img/img-samsung-galaxy-s10.jpg' alt='celular'>
                    <div class="producto-descripcion">   
                        <i class="fas fa-truck"></i>
                            <div class="bloque-precio">
                                <p class="precio">$70.500</p>
                                <p class="discount">10% off</p>
                            </div>    
                        <h4 class="product-title">Samsung Galaxy S10</h4>
                    </div>    
                </article>
                <article class="product">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smartTv">
                    <div class="producto-descripcion">   
                        <i class="fas fa-truck"></i>
                            <div class="bloque-precio">
                                <p class="precio">$23.200</p>
                                <p class="discount">5% off</p>
                            </div>    
                        <h4 class="product-title">SmartTv Samsung 43"</h4>
                    </div>    
                </article>
            </section>
        </main>
        <footer> 
            <section class="articulos">
                <article>
                    <i class="fas fa-credit-card"></i>
                    <p><b>Paga con tarjeta o en efectivo</b></p>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <i class="fas fa-gift"></i>
                    <p><b>Envio gratis desde los $2500</b></p>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fas fa-user-shield"></i>
                    <p><b>Seguridad de principio a fin</b></p>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </article>
            </section>
            <section class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>